filelock
fsspec
ikpy
Jinja2
joblib
lark
MarkupSafe
mpmath
networkx
numpy<2
opencv-python
packaging
pillow
Pygments
pytest
PyYAML
scikit-learn
scipy
threadpoolctl
tomli
torch
torchvision
typeguard
typing_extensions
ikpy